<% include ../partials/header%>
<form class="" action="/login" method="post">
  Username: <input type="text" name="user[username]" placeholder="Enter username" autocomplete="off"><br>
  Password: <input type="password" name="user[password]" placeholder="Enter password" autocomplete="off"><br>
  <input type="Submit" name="" value="Submit">
</form>

<% include ../partials/footer%>
