<% include ../partials/header%>

<form class="" action="/register" method="post">
    Username: <input type="text" name="user[username]" placeholder="Enter username" autocomplete="off"><hr>
    Email: <input type="email" name="user[email]" placeholder="Enter email" autocomplete="off"><hr>
    Password: <input type="password" name="user[password]" placeholder="Enter password" autocomplete="off"><br><br>
    <input type="Submit" name="" value="Submit">
</form>

<% include ../partials/footer%>
